/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1400px;

  --color-text: #222;
  --color-link: #069;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-size: 16px;
  --font-family-base: 'Inter', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Playfair Display', Georgia, serif;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/inter.ttf) format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/playfair-display.ttf) format('woff');
}

body {
  padding-top: var(--spacing);

  font-size: var(--font-size);
  line-height: 1.5;
  font-family: var(--font-family-base);
}

h1, h2, h3 {
  font-family: var(--font-family-heading);
}

/* Utan um allt efni, miðjar og setur breidd */
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

/*** Almennar skilgreiningar ***/

/* Viljum að myndir fylli út í foreldri sitt */
.image {
  width: 100%;
}

.image img {
  max-width: 100%;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

/* Birting á dagstíma er alltaf eins */
time {
  position: relative;

  padding-left: 22px;

  color: var(--color-text);
  font-variation-settings: 'wght' 300;
}

time:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;

  display: inline-block;
  
  width: 18px;
  height: 18px;

  background-image: url(./images/clock.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
}

/*** Fyrirsögn ***/
header {
  margin-bottom: calc(var(--spacing) * 2);
}

header h1 {
  font-size: 4rem;
  font-variation-settings: 'wght' 600;
}

/* Fyrsta svæði: nýjustu fréttir og mest lesið */
.latest-most-read {
  display: flex;
  margin-bottom: calc(var(--spacing) * 2);
}

/* Nýjustu fréttir */
.latest {
  width: 75%;
}

.latest h2 {
  margin-bottom: calc(var(--spacing) / 2);
}

.latest .content {
  display: flex;
}

.latest .content section {
  display: flex;
  flex-direction: column;

  /*
  hér erum við að reyna að útbúa jafnt bil á milli
  hluta en það er erfitt, vantar grid!
  */
  padding-right: calc(var(--spacing));
  width: calc(100% / 3);
}

.latest .content section:last-child {
  padding-right: 0;
}

.latest .content section h3 {
  margin-bottom: calc(var(--spacing) / 2);
}

.latest .content section .image {
  order: -1;
  margin-bottom: calc(var(--spacing) / 2);
}

.latest .content section .image img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.latest .content section p {
  /* látum textann fá auka pláss, ýtir fyrirsögn efst og dags í botn */
  flex: 1;
  margin-bottom: calc(var(--spacing) * 2);
}

/* Mest lesið */
.most-read {
  width: 25%;
  padding-left: var(--spacing);
}

.most-read h2 {
  margin-bottom: calc(var(--spacing) / 2);
}

.most-read ol {
  padding-left: 20px;
}

.most-read ol li {
  margin-bottom: calc(var(--spacing) / 2);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: calc(var(--spacing) / 2);
}

.most-read ol li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

/* Annað svæði: auglýsing */
.ad {
  position: relative;

  margin-bottom: calc(var(--spacing) * 2);
  width: 100%;
}

.ad .image img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.ad .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding-left: calc(var(--spacing) * 2);
  padding-right: calc(var(--spacing) * 2);
  padding-bottom: var(--spacing);

  font-size: 3rem;

  color: var(--color-text);
  background-color: rgba(255, 255, 255, 0.4);
}

.ad a {
  color: var(--color-text);
  text-decoration: underline;
  font-variation-settings: 'wght' 700;
}

/* Þriðja svæði: Flokkar */
.categories {
  display: flex;

  margin-bottom: calc(var(--spacing) * 2);
}

.categories section {
  display: flex;
  flex-direction: column;
  
  padding-right: calc(var(--spacing));
  width: 25%;
}

.categories section:last-child {
  padding-right: 0;
}

.categories section h2 {
  font-size: 2rem;
}

.categories section h2 span {
  display:inline-block;
  border-bottom: 5px solid var(--color-border);
  margin-bottom: -3px;
}

.categories section ul {
  flex: 1;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-border);
  padding: var(--spacing);
}

.categories section li {
  display: flex;
  flex-direction: column;

  margin-bottom: calc(var(--spacing) / 1);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: calc(var(--spacing) / 1);
}

.categories section li:first-child {
  margin-top: 0;
  padding-top: 0;
}

.categories section li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.categories section h3 {
  margin-bottom: calc(var(--spacing) / 2);
}

.categories section h3 a {
  font-size: 1rem;
  line-height: 1;
  font-variation-settings: 'wght' 400;
}

.categories section .image {
  order: -1;
}

.categories section .image img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
